.footer {
  margin-bottom: 5rem;
  width: 90%;
  display: flex;
  justify-content: center;

  @media (max-width: 1050px) {
    width: 100%;
    margin-left: 0rem;
  }
  footer {
    border-radius: 5rem;
    width: 60%;
    background-color: #030027;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1050px) {
      border-radius: 0rem;
      width: 100%;
    }

    h2 {
      align-self: center;
      color: white;
      @media (max-width: 1050px) {
        display: flex;
        margin-left: 1rem;
      }
    }

    #contact {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;

      @media (max-width: 1050px) {
        padding-left: 3rem;
      }
    }
  }
}
