#projects {
  margin-bottom: 2rem;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    align-self: center;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

    .react-card-flip {
      width: 80%;
      padding: 10px;
      display: flex;
      align-content: center;
      margin-top: 1.5rem;

      @media (max-width: 1050px) {
        width: inherit;
        height: inherit;
        display: flex;
        position: relative;
      }

      .react-card-flipper {
        display: flex;
        flex-shrink: inherit;
        width: 30%;
        justify-content: center;
        @media (max-width: 1050px) {
          max-height: inherit;
          min-height: inherit;
        }

        .react-card-front {
          @media (max-width: 1050px) {
            max-height: inherit;
            min-height: inherit;
          }
          .card-front {
            border: 4px solid #030027;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 100%;
            min-height: 100%;

            @media (max-width: 1050px) {
              max-height: inherit;
              min-height: inherit;
            }

            .content {
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              @media (max-width: 1050px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }

              .details {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 1.5rem;

                @media (max-width: 1050px) {
                  width: 90%;
                }

                .more-info {
                  border: 3px solid #030027;
                  background-color: #030027;
                  color: white;
                  padding: 7px;
                  font-size: 1.7rem;
                  border-radius: 5px;
                  text-decoration: none;

                  &:hover {
                    background-color: white;
                    color: #030027;
                  }
                }
              }
            }

            img {
              // max-width: 100%;
              // max-height: 100%;
              height: 20%;
              display: flex;
              flex-shrink: inherit;
              width: 26rem;
              @media (max-width: 1050px) {
                width: 90%;
              }
            }
          }
        }

        .card-back {
          border: 4px solid #030027;
          border-radius: 10px;
          padding: 10px;
          justify-content: center;

          .content {
            padding: 20px;
            .project {
              .stack {
                padding: 20px;
                @media (min-width: 1050px) {
                  display: flex;
                  justify-content: space-around;
                }
              }
            }
            .card-back-links {
              display: flex;
              margin-top: 2rem;
              justify-content: center;
              justify-content: space-around;

              a {
                border: 1px solid #030027;
                background-color: #030027;
                color: white;
                padding: 7px;
                border-radius: 5px;
                text-decoration: none;

                &:hover {
                  background-color: white;
                  color: #030027;
                }
              }
            }
          }
        }
      }
    }
  }
}
